    <!-- NAV BAR -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand title" href="#">SharedPlaylist</a>
    
    <div class="collapse navbar-collapse title navRight" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="" > SharedPlaylist <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" > Log In <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" > Sign Up <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav> -->
<nav class="navbar navbar-dark bg-dark">
    <a class="logo navbar-brand">SharedPlaylist</a>
    <h1>Tester</h1>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="email" placeholder="Email" aria-label="Login">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>